#same for both platforms
POLICY_KEY=Your account policy key here

#this needed for first login on both platforms, you can use cookies after that
EMAIL=Your account login email (google login not supported)
PASSWORD=Your account password

#put correct webdriver install path
WEBDRIVER_PATH=Your chrome driver (file) path

#change this if you want courses to go somewhere else, give full path if you do
OUTPUT_FOLDER=out_dir/

#don't change this, unless you know what you're doing
CHROME_PROFILE_PATH=temp\
